<!DOCTYPE html>
<html>
    <head>
        <title>Pagina inicial</title>    
        <link rel="Stylesheet" href="css/resetcss.css">   
        <link rel="Stylesheet" href="css/home.css">   
        <link href="https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" rel="stylesheet">
        
    </head>

 <body>
     <header>     
                
          
         <div id= "cabeçalho">    
            <h1> Portal de Noticias </h1>        
            <nav>
                <a href=""> Adicionar</a>
                <a href="#"> Remover</a>
                <a href="#"> Atualizar</a>
            </nav>
         </div>
         
     </header>
     {{{body}}}
 </body>   
</html>