<div id="formulario">
    <form action= "/admin/cadastroPost" method="POST">
    <label for = "tituloNoticia" class="label"> Titulo da Noticia</label>
    <input type= "text" name="tituloNoticia" id="tituloNoticia" required placeholder="Tiulo da noticia"> 
    <label for="couteudoNoticia" class="label">Couteudo da Noticia</label>
    <textarea name="couteudoNoticia" cols=42 rows=5></textarea>
    <button type="submit"> Cadastrar</button>
</form>
</div>

