  <div class = "grid-container">
{{#each noticias}}
    <div id="listaNoticia">
      <h2>{{dataValues.tituloNoticia}} </h2>
       <p>{{dataValues.couteudoNoticia}} </p>
    </div>  
{{/each}}
 </div>
 